@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.header__title {
   font-family: Raleway;
   font-size: 36px;
   line-height: 42px;
   text-transform: uppercase;
   color: #000000;
   
}
.header__subtitle {
   font-family: Raleway;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
}
.main__container-text {
   font-family: Raleway;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;

}
.desc-name {
   font-family: Open Sans;
   font-weight: bold;
   font-size: 24px;
   line-height: 33px;
   text-transform: capitalize;
   color: #000000;
}
.desc-row {
   font-family: Raleway;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
}