.block-price__header {
   display:flex;
   text-align: center;
   flex-direction: column;
   margin-top: 50px;
}
.header__subtitle {
   margin-top: 60px;
}
.block-price__content {
   display:flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   margin-top:50px;
}
.content__list {
   display:flex;
   flex-direction: column;
   margin: 50px 25px 0px 25px;
}
.list__item {
   width: 370px;
   padding: 20px 0px 0px 0px;
}
.header__title::after {
   content: '';
   border: 1px solid #EC7979;
   display: block;
   width: 170px;
   height: 0px;
   margin:0 auto;
   margin-top: 60px;  
}
.list__item_desc {
   background: #333333;
   border: 2px solid #F5F5F5;
   padding: 10px;
}
.hover {
   position: relative;
   bottom: 20px;
   filter: drop-shadow (0px 4px 10px rgba(51, 51, 51, 0.2));
}

