* {
   padding:0px;
   margin:0px;
}
.main {
   background-image: url(../img/background.svg);
   background-color:rgba(0, 0, 0, 0.5); 
   background-repeat:no-repeat;
   background-size: contain;
   
}
.main::after {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   box-sizing: border-box;
}
.header {
   display: flex;
   flex-direction: row;
   background: #000000;
   margin: 0 auto;
   justify-content: space-around;
}
.header__group {
   display: flex;
   flex-direction: row;
   align-items: center; 
}
.header__group_nav {
   padding: 10px 30px;
}
.section {
   display: flex;
   flex-direction: row;
   padding:170px 170px;
}
.section-right__container {
   background: #FFFFFF;
   border-radius: 10px;
   /*margin-left: 50px;*/
}
.section-right__container_form {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
}
.form-title {
   text-align: center;
   padding-top:30px;
   margin-bottom:40px;
}
.form-row {
   outline: none;
   border: none;
   padding:25px 52px;

}
.form-img {
   margin-top:70px;
}
.hr-section {
   width:370px;
   margin:0 auto;
}
.section-left__text {
   margin:50px 0px;
}
.section-left__text::after {
   content:"";
   display:block;
   border: 1px solid #FFFFFF;
   width: 170px;
   height: 0px;
   margin:50px 0px;
}
.section-left__subtext {
   margin:50px 0px;
}
.social-container {
   background: #F8EFEF;
   padding: 0px 170px;
   display: flex;
   flex-direction: row;
}
.social-contaniner__block {
   display: flex;
   flex-direction: column;
}
.social-container__social {
   display: flex;
   align-items: center;
   flex-direction: row;
}
.fa-brands {
   font-size: 45px;
   color: #BDBDBD;
   opacity: 0.6;
   padding: 15px 10px;
}
.social-container__block_text {
   padding: 5px 0px 25px 0px;
}
.social-container__block_subtext {
   padding-bottom: 17px;
}
.banner{
   background: url(../img/bgb.svg) no-repeat;
   background-size: cover;
}
.banner::after {
   content:"";
   background: rgba(0, 0, 0, 0.5);
}
.banner-container {
   padding:0px 170px;
}
.banner-container__title {
   padding: 50px 0px;
   text-align: center;
}
.banner-container__title::after {
   content:"";
   display:block;
   border: 1px solid #FFFFFF;
   width: 170px;
   height: 0px;
   margin: 0 auto;
   margin-top:50px;
}

.banner-container__subtitle {
   text-align: center;
}
.banner-container__button {
   text-align: center;
   padding: 85px 0px 50px 0px;
   
}
.contact-container {
   padding: 50px 170px;
}
.contact-container__title {
   text-align: center;
}
.contact-container__title::after {
   content:"";
   display:block;
   border: 1px solid #EC7979;
   width: 170px;
   height: 0px;
   margin: 0 auto;
   margin-top:50px;

}
.contact-container__subtitle {
   text-align: center;
   margin:60px 0px;
}
.contact-container__block {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.form-left_row, .textarea-right {
   outline: none;
   border:none;
   padding:19px 0px;
}
.textarea-right {
   resize: none;
}
.hr-contact {
   width: 450px;
}
.hr-textarea {
   width: 450px;
}
.contact-container__button {
   text-align: center;
   padding: 50px;
}
.footer {
   background: #000000;
}
.footer__icons, .footer__copyright {
   text-align: center;
   padding: 10px 0px;
}
