.header {
   font-family: Circular Std;
   font-weight: bold;
   font-size: 55px;
   line-height: 70px;
   text-align: center;
   color: #272D4E;
}
.main__block-text {
   font-family: Circular Std;
   font-weight: normal;
   font-size: 26.7px;
   line-height: 39px;
   text-align: center;
   color: #94A2B3;
}